@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unno";
  font-style: normal;
  src: url("/font/Unno.otf") format("opentype"); /* Chemin correct sans '/public' */
}

:root {
  --background: #fafafa;
  --foreground: #2e3032;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e3032;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Unno", sans-serif; /* Applique ta font personnalisée ici */
}
